[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
python-dotenv = "*"
loguru = "*"
pytz = "*"
flask-openapi3 = "*"

[dev-packages]
click = "*"
pytest = "*"
freezegun = "*"
ruff = "*"

[requires]
python_version = "3.11"
